body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background: url('../imagenes/fondo2.png') no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.container.exito {
    text-align: center;
    padding: 40px;
}

.container.exito h2 {
    color: #2e7d32; /* verde éxito */
    margin-bottom: 10px;
}

.container.exito p {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}

.boton-volver {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.boton-volver:hover {
    background-color: #005fa3;
}
